@import 'document-item.scss';
@import 'document-list.scss';
@import 'document-pagination.scss';
@import 'document-search.scss';

.documents-page {
  max-width: 1065px;
  margin: auto;

  width: 100%;
  display: flex;
  gap: 20px;
}
