$support-first: #cccccc;
$support-second: #ffffff;
// $support-first: #666666;
// $support-second: #cccccc;

$support-grey: #5c5c5c;
$support-green: #233317;
$support-green-light: #d2e8b8;
$support-grey-light: #444444;

$white: #ffffff;

$text: #040218;
